# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.ipch
*.opensdf
*.sdf
utiTest/Debug/
utiTest/Release/
*.suo
*.vcxproj.user
utiTest/TestResults/
